.guestCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guestImg{
    width: 12%;
    border-radius: 50px;
}

.guestInfo {
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.guestName {
    margin: 0;
    font-weight: 600;
}

.guestFrom {
    margin: 2% 0;
    font-weight: 200;
}